@model Bug


<div class="overview">
    <div class="container">
        @using (Html.BeginForm("InsertBugDb", "BugController1", "Post"))
        {
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">Created by: </span>
            <select class="form-control" asp-for="Creator" value="" placeholder="Employee Name" id="basic-url" aria-describedby="basic-addon3id">
                <option>Select Here</option>
                <option>Deontay Jefferson</option>
                <option>James Smith</option>
                <option>Michael Smith</option>
                <option>Robert Smith</option>
                <option>Maria Garcia</option>
                <option>David Smith</option>
                <option>Maria Rodriguez</option>
                <option>Mary Smith</option>
                <option>Maria Hernandez</option>
                <option>Maria Martinez</option>
                <option>James Johnson</option>
            </select>
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon2">Auto Generated Id: </span>
            <input type="text" asp-for="Id" value="" class="form-control" aria-label="Recipient's username" aria-describedby="basic-addon2"readonly />
       </div>

            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon3">Issue Title:</span>

                <input type="text" asp-for="Title" name="Title" value="" class="form-control Title" placeholder="Ex: Database not connecting" id="basic-url" aria-describedby="basic-addon3">
            </div>
            <div class="input-group">
                <span class="input-group-text">Issue Summary: </span>
                <textarea asp-for="Summary" name="Summary" class="form-control" aria-label="With textarea"></textarea>
            </div>

            <div class="input-group mb-3" style="margin-top:15px">
                <span class="input-group-text" id="basic-addon4">Assigned To: </span>
                <select class="form-control" asp-for="Assigned" value="" name="Assigned" placeholder="Employee Name" id="basic-url" aria-describedby="basic-addon4">
                    <option>Select Here</option>
                    <option>Deontay Jefferson</option>
                    <option>James Smith</option>
                    <option>Michael Smith</option>
                    <option>Robert Smith</option>
                    <option>Maria Garcia</option>
                    <option>David Smith</option>
                    <option>Maria Rodriguez</option>
                    <option>Mary Smith</option>
                    <option>Maria Hernandez</option>
                    <option>Maria Martinez</option>
                    <option>James Johnson</option>
                </select>
            </div>
            <br>
            <button type="submit" class="btn btn-primary">Submit</button>

        }
    </div>
</div>

@section scripts{ 
<script type="text/javascript">
    const genId = () => {
        const mainArr = [["a", "b", "c", "d", "e", "f", "g", "h", "i", "j", "k", "l", "m", "n", "o", "p", "q", "r", "s", "t", "u", "v", "w", "x", "y", "z"],
        ["A", "B", "C", "D", "E", "F", "G", "H", "I", "J", "K", "L", "M", "N", "O", "P", "Q", "R", "S", "T", "U", "V", "W", "X", "Y", "Z"],
        ['1', '2', '3', '4', '5', '6', '7', '8', '9']];

        let IdString = "";
        let char = "";

    //Selecting a random index from mainArr to determind if the char will be A,a or 1...
        for (let index = 0; index <= 15; index++) {

            let randomAlph = Math.floor(Math.random() * 26);
            let randomNumber = Math.floor(Math.random() * 9);
            let randomItem = Math.floor(Math.random() * 3);

            // console.log(mainArr[2][randomNumber]);

            char = randomItem == 0 ? mainArr[0][randomAlph]
                 : randomItem == 1 ? mainArr[1][randomAlph]
                 : mainArr[2][randomNumber];

            //adding the new character to the string
            IdString += (char)
        }
        return (IdString);
    }

    // generating a random string id then update the DOM
    let idplacement = document.querySelectorAll("input");
    idplacement[0].value = genId();

</script>
}

