@model Bug

<div class="overview">
    <div class="container">

        <h1>UPDATE TICKET</h1>
        @using (Html.BeginForm("UpdateBugDb", "BugController1", "Post"))
        {
            <input asp-for="Id" type="hidden" value="@Model.Id" />
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">Created by: </span>
                <select class="form-control" asp-for="Creator" value="" placeholder="Employee Name" id="basic-url" aria-describedby="basic-addon3id">
                    <option>Select Here</option>
                    <option>Deontay Jefferson</option>
                    <option>James Smith</option>
                    <option>Michael Smith</option>
                    <option>Robert Smith</option>
                    <option>Maria Garcia</option>
                    <option>David Smith</option>
                    <option>Maria Rodriguez</option>
                    <option>Mary Smith</option>
                    <option>Maria Hernandez</option>
                    <option>Maria Martinez</option>
                    <option>James Johnson</option>
                </select>
            </div>

            //Uncomit if you want the title to be updatible 
            <!--<div class="input-group mb-3"> 
            <span class="input-group-text" id="basic-addon3">Issue Title:</span>

            <input type="text" asp-for="Title" name="Title" value="@Model.Title" class="form-control" placeholder="Ex: Data Base not connecting" id="basic-url" aria-describedby="basic-addon3">
        </div>-->
            <div class="input-group">
                <span class="input-group-text">Issue Summary: </span>
                <textarea asp-for="Summary" name="Summary" class="form-control" aria-label="With textarea"></textarea>
            </div>

            <div class="input-group mb-3" style="margin-top:15px">
                <span class="input-group-text" id="basic-addon4">Assigned To: </span>
                <select class="form-control" asp-for="Assigned" value="" name="Assigned" placeholder="Employee Name" id="basic-url" aria-describedby="basic-addon4">
                    <option>Select Here</option>
                    <option>Deontay Jefferson</option>
                    <option>James Smith</option>
                    <option>Michael Smith</option>
                    <option>Robert Smith</option>
                    <option>Maria Garcia</option>
                    <option>David Smith</option>
                    <option>Maria Rodriguez</option>
                    <option>Mary Smith</option>
                    <option>Maria Hernandez</option>
                    <option>Maria Martinez</option>
                    <option>James Johnson</option>
                </select>
                <!--  <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">Status:</span>
                <select class="form-control"placeholder="Ticket Status" id="basic-url" aria-describedby="basic-addon3id=">
                <option>Open</option>
                <option>Closed</option>
                </select>
            </div>-->
            </div>
            <br>
            <button type="submit" class="btn btn-primary">Submit</button>

        }
    </div>           
               
    </div> <!--overview out-->

